@media screen and (max-width: 1330px) {
  .encabezado > p {
    font-size: 30px;
    line-height: 30px;
    text-align: center; }

  .calConsumo > p {
    font-size: 30px; 
    line-height: 30px;
    text-align: center;} }

@media screen and (max-width: 1146px) {
  .encabezado > p {
    font-size: 25px;
    line-height: 25px;
    text-align: center; }

  .calConsumo > p {
    font-size: 25px;
    line-height: 25px;
    text-align: center; }

  .calSubContenedor > div > .encabezado > p {
    font-size: 40px;
    line-height: 40px; }

  .encabezadoChico > p {
    font-size: 25px; 
    line-height: 25px;}

  .calCalculoGrande > p {
    font-size: 60px;
    line-height: 60px; }

  .calContenido > p {
    font-size: 18px; 
    line-height: 18px;} }
@media screen and (max-width: 965px) {
  .encabezado > p {
    font-size: 20px; 
    line-height: 20px;
    text-align: center; }

  .calConsumo > p {
    font-size: 20px;
    line-height: 20px;
    text-align: center;
   }

  .calLinea {
    min-height: 10em; }

  input[type="text"] {
    font-size: 45px;
    line-height: 25px;
    padding: 12px; }

  .calContenedor {
    margin-top: 20px; }

  .calConsumo {
    margin-bottom: 20px;
    text-align: center; } }
@media screen and (max-width: 900px) {
  .calSubContenedor > div > .encabezado > p {
    font-size: 30px;
    line-height: 30px; }

  .encabezadoChico > p {
    font-size: 20px; 
    line-height: 20px;}

  .calCalculoGrande > p {
    font-size: 40px;
    line-height: 40px; }

  .calContenido > p {
    font-size: 15px; 
    line-height: 15px;} }
@media screen and (max-width: 812px) {
  .encabezado > p {
    font-size: 18px;
    line-height: 18px;
    text-align: center; }

  .calConsumo > p {
    font-size: 18px;
    line-height: 18px;
    text-align: center; }

  .calSubContenedor > div > .encabezado > p {
    font-size: 25px;
    line-height: 25px; }

  .encabezadoChico > p {
    font-size: 12px; 
    line-height: 12px;}

  .calContenido > p {
    font-size: 10px;
    line-height: 10px; }

  .calLinea {
    min-height: 8em; } }
@media screen and (max-width: 710px) {
  .calSubContenedor > div > .encabezado > p {
    font-size: 23px;
    line-height: 23px; }

  .encabezado > p {
    font-size: 15px;
    line-height: 15px;
    text-align: center; }

  .calConsumo > p {
    font-size: 15px;
    line-height: 15px;
    text-align: center; } }
@media screen and (max-width: 612px) {
  .encabezadoChico > p {
    font-size: 12px;
    line-height: 12px;
    text-align: center; } }
@media screen and (max-width: 600px) {
  .encabezado > p {
    font-size: 12px;
    line-height: 12px;
    text-align: center; }
  .calConsumo > p {
    font-size: 12px;
    line-height: 12px;
    text-align: center; }

  input[type="text"] {
    font-size: 30px;
    line-height: 15px;
    padding: 10px;
    border-radius: 8px; }

  .calLogoGrande {
    padding: 10px; } 
}

@media screen and (max-width: 550px) {
  .calSubContenedor > div > .encabezado > p {
    font-size: 21px;
    line-height: 21px; }

  .encabezado > p {
    font-size: 12px;
    line-height: 12px;
    text-align: center; }

   .calCalculoGrande > p {
      font-size: 35px;
      line-height: 35px; }
}
@media screen and (max-width: 490px) {
  .calConsumo {
    width: 85%;
    text-align: center;
  }
   .calCalculoGrande > p {
    font-size: 25px;
    line-height: 25px; }
  .calSubContenedor > div > .encabezado > p {
    font-size: 15px;
    line-height: 15px; }

  .encabezadoChico > p {
    font-size: 9px;
    line-height: 9px; }

  .calContenido > p {
    font-size: 8px;
    line-height: 8px; }

  .calLinea {
    min-height: 6em; } }
@media screen and (max-width: 425px) {
  .encabezado > p {
    font-size: 10px;
    line-height: 10px;
    text-align: center; }

  .calConsumo > p {
    font-size: 10px;
    line-height: 10px;
    text-align: center; }

  .calSubContenedor > div > .encabezado > p {
    font-size: 10px;
    line-height: 10px; }

  .encabezadoChico > p {
    font-size: 8px;
    line-height: 8px; }

  .calCalculoGrande > p {
    font-size: 18px;
    line-height: 18px; }

  input[type="text"] {
    font-size: 15px;
    line-height: 10px;
    padding: 12px; }

  .calCalculoInput {
    width: 45%; }

  .calConsumo {
    margin-bottom: 0px;
    padding-bottom: 0px;
    text-align: center; }

  .calContenedor {
    margin-top: 0px; }

  .calLinea {
    width: 2px; }

  .encabezado {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center; } 

    .calContenido > p {
      font-size: 6px;
      line-height: 6px;
    }
  }
  
    
@media screen and (max-width: 355px) {
  .encabezado > p {
    font-size: 9px;
    line-height: 9px; }

  .calConsumo > p {
    font-size: 9px;
    line-height: 9px;
    text-align: center; }

  .calSubContenedor > div > .encabezado > p {
    font-size: 9px;
    line-height: 9px; }

  .encabezadoChico > p {
    font-size: 8px;
    line-height: 8px; }

  .calContenido > p {
    font-size: 5px;
    line-height: 5px; }

  .calCalculoGrande > p {
    font-size: 20px;
    line-height: 20px; }

  .calLinea {
    min-height: 5em; }

  input[type="text"] {
    font-size: 10px;
    line-height: 6px;
    padding: 6px; } }
@media screen and (max-width: 335px) {
  .calConsumo {
    margin-bottom: 0px; }

  .calCalculoGrande > p {
    font-size: 20px;
    line-height: 20px; }

  .calSubContenedor > div > .encabezado > p {
    font-size: 8px;
    line-height: 8px; }

  .encabezadoChico > p {
    font-size: 6px;
    line-height: 6px; }

  .calLinea {
    min-height: 4em; }

  .calLogoGrande {
    padding: 3px; } }

@media screen and (max-width: 282px) {
  .encabezado > p {
    font-size: 5px;
    line-height: 5px;
    text-align: center; }

  .calConsumo > p {
    font-size: 5px; 
    line-height: 5px;
    text-align: center;} }

/*# sourceMappingURL=mobile.css.map */
